.vim/autoload/plug.vim
.vim/bundle
.vim/repos
.vim/rollbacks
.vim/merged
.vim/state_view.vim
.vim/state_vim.vim
.vim/temp
.vim/.dein
.vim/cache*
.vim/marged*
.vim/backup
.vim/memo
.vim/vim-ref
.vim/.netrwhist
*_local*
Gemfile.lock
bats
test/.workspace
.beco*
.zsh/_git
.zsh/git-completion.bash
.zsh/_beco
