.vim/autoload/plug.vim
.vim/repos
.vim/backup
.vim/memo
.vim/vim-ref
.vim/.netrwhist
.vim/.netrwbook
*_local*
Gemfile.lock
bats
test/.workspace
.beco*
.zsh/_git
.zsh/git-completion.bash
.zsh/_beco
.w3m/cgi-bin/quickcmd
bin/dad
