snippet code "code" b
{code:${1:text}}
$2
{code}
endsnippet

snippet bash "code bash" b
{code:bash}
$1
{code}
endsnippet

snippet sql "code sql" b
{code:sql}
$1
{code}
endsnippet

snippet noformart "noformat" b
{noformat}
$1
{noformat}
endsnippet

snippet link "link" b
[${1:title}|${2:url}]
endsnippet
