snippet implDisplay "fmt::Description" b
impl fmt::Display for ${1:Struct} {
    fn fmt(&self, f: &mut fmt::Formatter) -> fmt::Result {
        write!(f, "{}", self.0)
    }
}
endsnippet

snippet extern "extern crate" b
extern crate $1;
endsnippet

snippet struct "struct" b
struct ${1:Struct} {
    $2,
}
endsnippet

snippet println "println" i
println!("$1")${2:;}
endsnippet

snippet script "Description" b
#!/usr/bin/env run-cargo-script
// cargo-deps: rand
endsnippet
