snippet implDisplay "fmt::Description" b
impl fmt::Display for ${1:Struct} {
    fn fmt(&self, f: &mut fmt::Formatter) -> fmt::Result {
        write!(f, "{}", self.0)
    }
}
endsnippet

snippet extern "extern crate" b
extern crate $1;
endsnippet
