snippet plugin "Vim Plugin" b
" 何かスゴイことをするプラグイン
" Version: 1.0
" Author: uochan <liquidz.uo@gmail.com>
" License: VIM LICENSE

if exists('g:loaded_${1}')
  finish
endif
let g:loaded_$1 = 1

let s:save_cpo = &cpo
set cpo&vim

" body
${0}

let &cpo = s:save_cpo
unlet s:save_cpo
endsnippet

snippet vital_new "vital new" b
let ${1:s:V} = vital#${2:vital}#new()
endsnippet

snippet vital_import "vital import" b
let ${1:s:M} = ${2:s:V}.import('${3:#:module_name}')
endsnippet


