{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}
 ;; local-lib {:local/root "/path/to/local-lib"}
 ;; username/lib {:git/url "https://github.com/user/lib" :sha "git rev-parse HEAD"}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.60.945"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cloverage.coverage"]}

  :depstar
  {:extra-deps {com.github.seancorfield/depstar {:mvn/version "RELEASE"}}
   :ns-default hf.depstar
   :exec-args {}}}}
